/*.fixed{
	position: fixed;
}*/
body{
	font-family: helvetica, sans-serif;
}
a:link{
	text-decoration: none;
	color:black;
}
a:visited{
	color:black;
	text-decoration: none;
	
}
a:hover{
	text-decoration: none;
	color:white;
	background-color: black;
	border-top-left-radius: 3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	padding:1px; 

}

#lander,#work,#about,#contact{
	height: 1300px;
	margin-top: 5%;
}
.menu{

	margin-top: 7%
}
.worklink-black{
	background-color: black;
	color:white;
	border-radius: 4px;
}
.btn-outline-inverse{
	color:black;
	background-color: transparent;
	border-color: black;
	margin-bottom: 1%;
	margin-top: 1%;
}
.btn-outline-inverse:visited{
	color:black;
	background-color: transparent;
	border-color: black;

}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
  color: white;
  background-color: black;
  border-color: white;
  padding:6px;
}

.contactlink:hover{
	padding: 6px 12px 6px 12px;
}

.hide{
	display: none;
}

.worklinkDetail{
	height: 40px;
}

.workLinkTag{
	height: 10px;
}